/** Theme Name: Good Dad Donny
Author: Four Tuples
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: auto;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html body {
    height: 100%;
    background-color: #ffffff;
    color: #1d1d1d;
}
  
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

section, footer {
    padding: 60px 0px;
}

ol li {
    margin-left: 35px;
}

.cta {
    margin-top: 40px;
    background-color: #cb1b0d;
    color: #f1f1f1;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    transition: all 0.3s ease-in;
}

.cta:hover {
    background-color: #c0392b;
}

.divider {
    display: block;
    height: 5px;
    min-width: 50px;
    max-width: 100px;
    margin: 25px auto 40px auto;
    background-color: #f1f1f1;
}

#backtotop {
    border: none;
    background-color: #cb1b0d;
    color: #f1f1f1;
    position: absolute;
    bottom: 55px;
    right: 55px;
    font-size: 40px;
    padding: 15px 25px;
    border-radius: 50%;
}

#backtotop:hover {
    background-color: #c0392b;
}

#backtotop:focus {
    border: none;
    outline: none;
}

.logo-text {
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase;
    color: #1d1d1d;
    font-size: 2.8rem;
    font-weight: bold;
    text-shadow: 5px 4px 6px #33333363;
    padding: 20px 0px;
}

/* Home CSS */

#banner h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #777777;
    padding-bottom: 15px;
}

#banner p {
    font-size: 18px;
}

#banner h1 strong {
    color: #cb1b0d;
}

#banner .img-banner {
    margin-top: -66px;
    max-width: 100%;
}

#testimonial {
    background: #1d1d1d;
    color: #ededed;
}

#testimonial h2, #steps h2, #about h2, #faq h3 {
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
}

#testimonial .custom-cards {
    background-color: #f1f1f1;
    color: #1d1d1d;
    padding: 15px;
    min-height: 355px;
    margin-bottom: 15px;
    border-radius: 8px;
}

#testimonial .custom-cards .description{
    font-weight: bold;
}

#testimonial .custom-cards .author{
    font-size: 14px;
    
}

#testimonial .custom-cards .rating span{
    background-color: #fff;
    padding: 0px 3px;
    border-radius: 4px;
    border: 1px solid;
}

#testimonial .custom-cards .rating span img {
    width: 12px;
    height: 12px;
    margin-bottom: 3px;
}

#firstscene strong, #secondscene strong, #thirdscene strong, #fourthscene strong, #whyquiz strong {
    color: #cb1b0d;
}

#firstscene .background {
    background-color: #f1f1f1;
    background-blend-mode: overlay;
    padding: 25px 0px;
}

#firstscene img {
    width: 100%;
}

#firstscene h4, #secondscene h4, #thirdscene h4, #fourthscene h4 {
    line-height: 1.5;
}

#firstscene .description {
    font-weight: bold;
    line-height: 1.5;
}

#secondscene img {
    max-width: 100%;
    width: auto;
    display: block;
    margin: auto;
}

#thirdscene {
    background-color: #1d1d1d;
}

#thirdscene h4 {
    color: #f1f1f1;
}

#thirdscene img {
    max-width: 100%;
    width: auto;
    display: block;
    margin: auto;
}

#fourthscene {
    background-color: #f1f1f1;
    overflow-x: hidden;
}

#fourthscene h4 {
    font-weight: bold;
}

#fourthscene img {
    width: auto;
    max-width: 100%;
    margin: auto;
    display: block;
}

#fourthscene .cta {
    margin: auto;
    display: block;
    margin-top: 20px;
}

#whyquiz img {
    display: block;
    margin: auto;
    max-width: 100%;
    width: auto;
}

#whyquiz .content {
    line-height: 1.5;
    text-align: center;
    max-width: 700px;
    display: block;
    margin: auto;
}

#steps {
    padding: 140px 0px 90px 0px;
    overflow-x: hidden;
}

#steps .steps-img {
    object-fit: contain;
    min-height: 300px;
    max-height: 400px;
    width: auto;
    margin: 40px auto;
    display: block;
    padding-top: 18px;
}

#steps .number {
    font-family: 'Allerta Stencil', sans-serif;
    position: absolute;
    top: 45px;
    left: 25px;
    font-size: 3.2rem;
    color: #cb1b0d;
    font-weight: bold;
}

#steps span {
    text-align: center;
    display: block;
}

#about {
    min-height: 100vh;
}

#about h2 {
    margin-bottom: 80px;
}

#about .background {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #f1f1f1;
    border-radius: 50%;
    z-index: -1;

}

#about img {
    width: auto;
    max-width: 100%;
}


#about span {
    display: block;
    text-align: center;
    max-width: 600px;
    margin: -30px auto 0px auto;
    padding: 10px 20px 0px 20px;
}

#faq .card {
    transition: all 0.3s ease-in;
}

#faq .card:hover {
    background-color: #f1f1f1;
}

#faq .card i {
    position: absolute;
    font-size: 40px;
    right: 0;
    top: 0;
    color: #828282;
    transition: all 0.3s ease-in;
}

#faq .card i.active {
    transform: rotate(45deg);
}

#faq .card button {
    color: #1d1d1d;
    position: relative;
    text-decoration: none;
}

#faq .card button:hover {
    text-decoration: none;
}

#faq .card button span {
    font-size: 20px;
}

footer {
    background-color: #1d1d1d;
    position: relative;
}

footer h3, footer span {
    color: #f1f1f1;
}

footer .contact-form label, footer .contact-form input, footer .contact-form textarea {
    width: 100%;
}

footer .contact-form input, footer .contact-form textarea {
    background-color: #f1f1f1;
    outline: none;
    border: none;
    padding: 10px;
}

footer .contact-form label {
    color: #f1f1f1;
}

footer .cta {
    width: auto !important;
    background-color: #cb1b0d !important;
    margin-top: 0px !important;
    padding: 10px 30px !important;
}

footer .info {
    color: #f1f1f1;
    padding: 0px 40px 0px 0px;
    text-align: justify;
}

footer .info a, footer a {
    color: #cb1b0d;
    font-size: 18px;
}

footer .footer-logo {
    display: block;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    padding-top: 30px;
}

footer .copyright {
    font-size: small;
    color: #adadad;
    font-weight: bold;
    display: block;
}

/* Quiz Page */

#quiz input[type="text"], #quiz input[type="tel"], #quiz input[type="email"], #quiz textarea {
    margin-top: 8px;
    padding: 10px;
    background-color: #ededed;
    border: none;
    width: 100%;
}

#quiz .select2 {
    width: 100% !important;
    margin-top: 10px;
}

#quiz .select2-search__field{
    margin-top: 0px;
}

#quiz .select2-selection--multiple, #quiz .select2-selection--single {
    background-color: #ededed;
}

#quiz label {
    font-size: 18px;
    width: 100%;
    margin-bottom: 35px;
}

/* Responsive CSS */

@media screen and (max-width: 768px) {
    #banner .img-banner {
        margin-top: 30px;
    }

    footer .contact-form {
        margin-top: 40px;
    }

    #steps .steps-img {
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
	#about .background {
		border-radius: 8px;
        top: 120px;
	}
}